body {
  margin: 0;
}

/****************   Nav Section **********************/
nav {
  background-color: #caaded;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 5px solid #a266c7;
}

/***********************  Footer Section   **************************/
footer {
  display: flex;
  justify-content: center;
  background-color: #e3dbc3;
  padding: 10px;
  font-style: italic;
}

/*********** Splash Page ************************/
header {
  padding: 20px;
  border: #2a0052;
  border-style: double;
}

header h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #2a0052;
  justify-content: center;
  text-align: center;
}

header img {
  border-radius: 200px 200px 0 0;
  width: 300px;
}

.address {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

.tagline {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  text-align: center;
}

/************* Sections ********************/
hr {}

section h3 {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  color: #2a0052;
}

section dl {
  display: grid;
}

section ul {
  list-style: square;
}

section a {
  text-decoration: none;
  color: #a266c7;
}

section a:hover {
  font-size: 105%;
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card img {
  border: 5px outset white;
}

.card {
  padding: 5%;
  background-color: #caaded;
  text-align: center;
  border: #2a0052;
  border-style: groove;
  box-shadow: 5px 5px;
  margin: 5%;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
  nav {}

  .three-col {}
}

/**************   Contact Page   *****************/
.one-col {}

input {}

textarea {}