body {
  margin: 0;
}

/****************   Nav Section **********************/
nav {
  background-color: #ffbf69;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family:  "Frank Ruhl Libre", serif;
  /* border-bottom: 5px solid #ff9f1c; */
  padding: 0 1em 0 1em;
}

.nav-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  align-items: center;
  background-color: #ff9f1c;
  padding: 1em;
  color: #ffffff;
}

.nav-header a{
  text-decoration: none;
  color: #ffffff;
}

.nav-header a:hover{
  font-weight: bold;
}

/***********************  Footer Section   **************************/
footer {
  font-family:  "Frank Ruhl Libre", serif;
  display: flex;
  justify-content: center;
  background-color: #ff9f1c;
  font-style: italic;
  padding: 0.5em;
}

/*********** Splash Page ************************/
header {
  font-family:  "Frank Ruhl Libre", serif;
  padding: 10px;
}

header h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
  justify-content: center;
  text-align: center;
}

header img {
  width: 200px;
  border-radius: 50%;
  /* border-color: #ffffff;
  border-style: solid;
  border-width: 5px; */
}

.address {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  color: #ffffff;
}

.tagline {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

/************* Sections ********************/
hr {
  background-color: #ff9f1c;
}

section{
  padding: 1em;
}

section h3 {
  /* padding: 1em; */
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  color: #ff9f1c;
}

section h2 {
  font-family:  "Frank Ruhl Libre", serif;
  color: #ff9f1c;
  /* padding: 1em; */
}

section dl {
  font-family:  "Frank Ruhl Libre", serif;
  /* padding: 1em; */
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px 10px;
}

section ul {
  font-family:  "Frank Ruhl Libre", serif;
  /* padding: 10px; */
  list-style: square;
}

section a {
  font-family:  "Frank Ruhl Libre", serif;
  /* padding: 10px; */
  text-decoration: none;
  color: #ff9f1c;
}

section a:hover {
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
  font-family:  "Frank Ruhl Libre", serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card img {
  border: 5px outset white;
}

.card {
  font-family:  "Frank Ruhl Libre", serif;
  padding: 5%;
  text-align: center;
  border: #ffbf69;
  border-style: solid;
  box-shadow: 5px 5px #ffbf69;
  margin: 5%;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .three-col {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

/**************   Contact Page   *****************/
form {
  font-family:  "Frank Ruhl Libre", serif;
  display: flex;
  justify-content: center;
}

.one-col {
  font-family:  "Frank Ruhl Libre", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff9f1c;
  font-size: large;
  font-weight: bold;
}

input {
  font-family:  "Frank Ruhl Libre", serif;
  background-color: #ffbf69;
  border: black double;
  width: 20%;
}

textarea {
  font-family:  "Frank Ruhl Libre", serif;
  background-color: #ffbf69;
  border: black double;
  width: 20%;
}